.ProseMirror {
	min-height: 600px !important;
	outline: none !important;
	border: 1px solid #e2e8f0 !important;
	border-radius: 0.5rem !important;
}

.ProseMirror.ProseMirror-focused {
	border-color: #3182ce !important;
	box-shadow: 0 0 0 1px #3182ce !important;
}

.ProseMirror,
.ProseMirror.ProseMirror-focused {
	/*border: none transparent !important;*/
	outline: none !important;
	padding: 1rem !important;
}

pre,
.ProseMirror pre {
	background: #0d0d0d;
	color: #fff;
	font-family: 'JetBrainsMono', monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
}

pre code,
.ProseMirror pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}

blockquote,
.ProseMirror blockquote {
	padding-left: 1rem;
	border-left: 2px solid rgba(13, 13, 13, 0.1);
}
